body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}


[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}



img.logo {
    width: 15%;
    border-radius: 15%;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button2 {
    background-color: #af1c00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    text-align: center;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 15%;
    border-radius: 15%;
}
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}


